{% extends 'base.html' %}
<html>
    <head>
        {% block title %} Bank {% endblock %}

    </head>
    <body>
        <br>
        <br>
        {% block body %}
        <h1 style="font-family: cursive; margin-left: 400px;font-size: 75px;">THE SPARKS FOUNDATION</h1>
      <br>
      <hr>
      <br>

      <h2 style="font-family: cursive; margin-left: 400px;"> WEB DEVELOPMENT INTERNSHIP </h2>
      <br>
      <br>
      <h3 style="font-family: cursive; margin-left: 400px;">Task -1 Basic Banking System</h3>

      <br>
      <br>
    
      <h4 style="font-family: cursive; margin-left: 400px;">Developed By :Ashish Jain</h4>

        
        {% endblock %}
    </body>
</html>